/* #root {
    background-color: darkcyan;
}

.app {
    max-width: 700px;
    margin: auto;
} */

.dashboard-wrapper {
    min-height: calc(100vh - 40px);
    padding: 20px 25px;
    margin: 20px 100px;
    border: 1px solid darkgray;
    border-radius: 4px;
}

.auth-form-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    width: 560px;
    border: 1px solid;
    padding: 7px 25px;
    border-radius: 6px;
}